i {
  border: solid #0d0d12;
  border-width: 0 2px 2px 0;
  border-radius: 2px;
  display: inline-block;
  padding: 4px;
}

.right {
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}

@font-face  {
  font-family: "Graphik";
  src: url("../assets/fonts/Graphik-Regular.ttf") format('truetype');
  font-weight: 200;
  font-style: normal;
  }

@font-face  {
    font-family: "Graphik";
    src: url("../assets/fonts/Graphik-Medium.ttf") format('truetype');
    font-weight: 300;
    font-style: normal;
    }

@font-face  {
      font-family: "Graphik";
      src: url("../assets/fonts/Graphik-Semibold.ttf") format('truetype');
      font-weight: 400;
      font-style: normal;
      }    

@font-face  {
      font-family: "Graphik";
      src: url("../assets/fonts/Graphik-Bold.ttf") format('truetype');
      font-weight: 600;
      font-style: normal;
      }  
    
    
body{
  background: #0d0d12;
  }

h1{
  font-family: "Graphik";
  font-weight: 300;
  font-size: 36px;
  font-style: normal;
  color: hsl(0, 0%, 100%);
  line-height: 40px;
  }


p{
  color: #ffffff;
  font-family: "Graphik";
  font-weight: 200;
  font-style: normal;
  }

  .yellow{ 
  color: #ffb100;
  }

  .blue{ 
  color: #2233ff; 
  }

  .grey{
    color: #FFFFFF;
    opacity: 0.5;
  }

  .small{
    font-weight: 300;
    font-size: 16px;
    line-height: 20px;
  }
  
  .kerned{
    font-family: "Graphik";
    font-weight: 400;
    font-style: normal;
    letter-spacing: 2px;
    text-transform: uppercase;
    font-size: 14px;
    

  }
  
  .heroGroup{
    overflow-wrap:normal;
    margin: auto;
    max-width: 450px;
    min-width: 450px;
    padding: 150px 350px 0px 150px;
    }


a{
  font-family: "Graphik";
  font-weight: 400;
  font-style: normal;
  display: inline-block;
  position: relative;
  height: 40px;
  line-height: 40px;
  border-radius: 3px;
  font-size: 16px;
  color:#ffb100;
  text-decoration: none;
  transition: all 200ms cubic-bezier(0.04, 0, 0.2, 1);
  
}

  a:visited{
  color: #ffb100;
  }
  
  a:hover{
  color: #0d0d12;
  padding: 0 15px;
  background-color: #ffffff;
   }

   .side-nav{
     overflow: hidden;
     height: auto;
     width: 80px;
     position: fixed;
     z-index: 1;
     top: 0;
     left: 0;
     overflow-x: hidden;
     padding-top: 200px;
     padding-left: 20px;
    }
   
  .side-nav a{
    padding: 6px 6px 6px 6px;
    color: #ffffff;
    font-size: 14px;
    opacity: 0.5;
    font-weight: 200;
    display: block;
    
    
  }

  .side-nav a:hover{
    opacity: 1;
    font-weight: 300;
    background-color: #0d0d12
    
  }
  
  .side-nav a.active{
    opacity: 1;
    font-weight: 400;
    
    
  }

  @media screen and (max-width: 500px) {
    .side-nav {
      width: 100%;
      padding: 20px;
      position: fixed;
      bottom: 0;
      
    }
    .side-nav a {
      padding: 0px;
      width: 25%;
      min-width: 20%;
      float: left;
      text-align:left}
   
    .heroGroup{
     overflow-wrap:normal;
     padding: 80px 20px 60px 20px;
     min-width: 320px;
   }
  }

  


